html, body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  width: 75%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#container button {
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
}

#container .button-display {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  justify-content: center;
}

.screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.screen.active {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: xx-large;
  margin: 10px;
}

.subtitle {
  font-style: italic;
}

#matchup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

#teams-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.team-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 150px;
  height: 180px;
  box-sizing: border-box;
  padding: 10px;
  color: gray;
  background-color: lightgray;
  gap: 4px;
}

.team-box.selected {
  background-color: darkseagreen;
  color: green;
  font-weight: bold;
  border-width: 5px;
}

.team-name {
  font-size: large;
}

.team-record {
  font-size: small;
}

.team-logo {
  width: 100px;
  height: 100px;
}

#games-input {
  border-radius: 10px;
  background-color: lightgray;
  padding: 8px;
}

#bracket-result {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding: 4px;
  margin: 4px;
  background-color: lightgray;
}

#bracket-input {
  width: 100%;
  height: 400px;
  font-family: 'Courier New', Courier, monospace;
  margin: 4px;
  padding: 4px;
  resize: none;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
}

#bracket-review-display {
  margin: 20px;
  background-color: lightgray;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}

#bracket-score {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

#bracket-list {
  font-family: monospace;
  font-size: medium;
  width: 75%;
  margin: auto;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  display: flex;
  text-align: left;
}

.list-value {
  display: flex;
  text-align: right;
  font-weight: bold;
}